{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}

<div class="container py-5">
	<h1>Update Rule</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}    
        <br>                
		<button class="btn btn-primary" type="submit">Update</button>
	</form>

	<br>
	{% if word_similarities %}
	<div class="container">
		<div class="row">
		  <div class="col-sm">
			<h3>Similar Words</h3>
			<input id="similarity_slider" type="range" value="{{similarity_threshold}}" min="0.0" max="1.0" step="0.05" oninput="on_similarity_slider_change()">
			<output id="similarity_slider_output">{{similarity_threshold}}</output>
			<br>
			<div id="similar_word_container"></div>
		  </div>
		  <div class="col-sm">
			<h3>Keyword Definitions</h3>
			<ul>
			{% for synset, count in synset_count.items %}
				<li>{% if forloop.counter == 1 %}<b>{{ synset.definition }}</b>{% else %}{{ synset.definition }}{% endif %} [count: {{count}}]</li>
			{% endfor %}
		  </div>
		  <div class="col-sm">
			<h3>Keyword Synonyms</h3>
			<ul>
			{% for synonym in synonyms %}
				<li>{{ synonym }}</li>
			{% endfor %}
		  </div>
		</div>
	  </div>
	{% endif %}
	{% if regex_patterns %}
	<div class="container">
		<h3>Positive Examples</h3>
		{% for eg in positive_examples %}
			<li>{{ eg }}</li>
		{% endfor %}

		<h3>Negative Examples</h3>
		{% for eg in negative_examples %}
			<li>{{ eg }}</li>
		{% endfor %}

		<h3>Patterns</h3>
		{% for k,v in regex_patterns.items %}
			<li><b>{{k}}</b>
				<ul>
					<li>Regex: {{v.regex}}</li>
					<li>Points: {{v.points}}</li>
				</ul>
			</li>
		{% endfor %}
	  </div>
	{% endif %}
</div>

<script>
	{% if word_similarities %}

	function sort_object(dict) {
		// Create items array
		var items = Object.keys(dict).map(function(key) {
			return [key, dict[key]];
		});
		
		// Sort the array based on the second element
		items.sort(function(first, second) {
			return second[1] - first[1];
		});
	
		return(items)
	} 
	
	var words_dict = {{ word_similarities|safe }};
	const words = Object.fromEntries(sort_object(words_dict));

	function on_similarity_slider_change(){
		var slider_value = document.getElementById("similarity_slider").value;
		document.getElementById("similarity_slider_output").value = slider_value;
		var filtered = Object.keys(words).reduce(function (filtered, key) {
			if (words[key] >= slider_value) filtered[key] = words[key];
			return filtered;
		}, {});

		var similar_word_container = document.getElementById("similar_word_container")
		similar_word_container.innerHTML = "";
		for (let key in filtered) {
			const div = document.createElement("div");
			div.innerText = key + " (" + filtered[key].toFixed(2) + ")"
			similar_word_container.appendChild(div)
		}
	}

	$( document ).ready(function() {
		on_similarity_slider_change()
	});
	{% endif %}
</script>

{% endblock %}