{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">

<div class="row">
    <div class="col-6 d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Question Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for q in question_list %}
                <a class="dropdown-item" href="{% url 'building_blocks' q.pk %}">Question {{ q.question_exam_id }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
          <a href="{% url 'refinement' question_obj.id %}" class="btn btn-secondary">Stage 2: Rule Refinement</a>
    </div>
</div>
<br>

<h2>Rule Creation</h2>

{% comment %} <p class="text-secondary">TODO: Add description</p> {% endcomment %}

<div class="row">
    <div class="col-9">
        {% if question_obj.question_image_url %}
        <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
            <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
        <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
        {% else %}
        <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
        {% endif %}

        <p>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#relatedConceptsCollapse" aria-expanded="false" aria-controls="relatedConceptsCollapse">
                Related Concepts
            </button>
            </p>
            <div class="collapse" id="relatedConceptsCollapse">
            <div class="card card-body">
                {% for concept in related_concepts %}
                <p>{{ concept }}</p>
                {% endfor %}
            </div>
        </div>

        <p>Total answers: {{ answer_count }}</p>

        <br>

        <div class="card-deck" id="answer_card_deck">
        {% for answer in answers %}
            <div class="card mb-2 {% if forloop.counter > 15 %}hidden_card{% endif %}">
                <div class="card-body" id="answer_card_{{answer.id}}">
                            <p class="card-text answer-card" id="answer_text_{{answer.id}}">{{answer.answer_text}}</p>
                            
                    <div class="row">
                        <div class="col-sm-3">
                            <small class="text-muted">Grade: {{answer.assigned_grade}}{% if answer.word %}, Word: {{answer.word}}{% endif %}
                                {% if answer.score %}, Similarity Score: {{answer.score}}{% endif %} </small><br>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    
                    <div class="example_buttons">
                        <div class="btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                            <label class="btn btn-sm btn-success mx-1">
                                <input type="checkbox" autocomplete="off" id="positive_{{ answer.id }}" value="{{ answer.id }}">➕
                            </label>
                            <label class="btn btn-sm btn-danger mx-1">
                                <input type="checkbox" autocomplete="off" id="negative_{{ answer.id }}" value="{{ answer.id }}">➖
                            </label>
                        </div>
                    </div>

                    {% if answer.rule_strings != "[]" %}
                        {% for rule in answer.get_rule_strings %}
                        <button type="button" style="background-color:{{ color_to_rule|get_item:rule.0 }}; color:DarkSlateGray;" 
                            class="btn btn-primary btn-sm btn-block unpadded-button border-white text-truncate text-left" 
                            data-toggle="tooltip" data-placement="top" title="{{rule.1}}">{{ rule.0|count_parents }} {{rule.1}}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3  %} 
            <div class="w-100 d-none d-block"></div> 
            {% endif %}
        {% endfor%}
        </div>
        <div class="d-flex justify-content-center">
            <button onclick="handleHiddenCards()" type="button" class="btn btn-primary">Show/Hide</button>
        </div>
    </div>
    <div class="col-3">

        <h4>Create Rule</h4>
        <form action="{% url 'building_blocks' question_exam_id %}" method="post">
            {% csrf_token %}
            {% if old_form.non_field_errors %}
            <div class="non-field-errors">
                {% for err in old_form.non_field_errors %}
                <p class="form-error text-danger">{{ err }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.positive_examples.as_hidden }}
            {{ form.negative_examples.as_hidden }}

            <div class="rule_type_select">
                <div class="d-flex align-items-center">
                    {{ form.rule_type_selection|as_crispy_field }}
                </div>
            </div>
            
            <div class="rule_input_div" id="keyword_rule">
                <hr />
                <div class="d-flex align-items-center">
                    {{ form.keyword|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center">
                    {{ form.keyword_similarity|as_crispy_field }}
                    <output class="mx-3" name="keyword_similarity_choice" id="keyword_similarity_choice" for="keywordSimilarityInput">
                        {{ form.keyword_similarity.value|default_if_none:1.0 }}
                    </output>
                </div>
            </div>
            <div class="rule_input_div" id="sentence_rule">
                <hr />
                <div class="d-flex align-items-center">
                    {{ form.sentence|as_crispy_field }}
                    {{ form.sentence_similarity.as_hidden }}
                    {{ form.sentence_similarity_method.as_hidden }}
                </div>
                {% comment %} <div class="d-flex align-items-center">
                    {{ form.sentence_similarity|as_crispy_field }}
                    <output class="mx-3" name="sentence_similarity_choice" id="sentence_similarity_choice" for="sentenceSimilarityInput">
                        {{ form.sentence_similarity.value|default_if_none:0.6 }}
                    </output>
                </div>
                <div class="d-flex align-items-center">
                    {{ form.sentence_similarity_method|as_crispy_field }}
                </div> {% endcomment %}
            </div>
            <div class="rule_input_div" id="concept_rule">
                <hr />

                <div class="parent_select mb-3">
                    <div class="d-flex align-items-center">
                        <select class="select form-control" name="concept" style="width:auto;">
                            <option selected>-- Select Concept --</option>
                            {% for concept in answer_concepts %}
                            <option value="{{concept}}">{{concept}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    {{ form.concept_similarity|as_crispy_field }}
                    <output class="mx-3" name="concept_similarity_choice" id="concept_similarity_choice" for="conceptSimilarityInput">
                        {{ form.concept_similarity.value|default_if_none:0.6 }}
                    </output>
                </div>
            </div>
            <div class="rule_input_div" id="length_rule">
                <hr />
                <div class="d-flex align-items-center">
                    {{ form.length_type|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center">
                    {{ form.answer_length|as_crispy_field }}
                </div>
            </div>

            <div class="rule_input_div" id="progress_bars">
                <label for="positive_examples_progress">Similar Examples:</label>
                <div class="progress">
                    <div id="positive_examples_progress" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label for="negative_examples_progress">Dissimilar Examples:</label>
                <div class="progress">
                    <div id="negative_examples_progress" class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="rule_input_div" id="all_rules">
                <hr />
                <div class="d-flex align-items-center">
                    {{ form.rule_polarity|as_crispy_field }}
                </div>

                <div class="parent_select mb-3">
                    <div class="d-flex align-items-center">
                        <select class="select form-control" name="parent" style="width:auto;">
                            <option selected>-- Parent Rule --</option>
                            {% for rule in rules %}
                            <option value="{{rule.id}}">{{rule}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <br>

        <div class="card sticky-top border-0">
            <h4>Rule Suggestions</h4>
            <form hx-target="#rule_suggestion" hx-swap="innerHTML" hx-post="{% url 'rule_suggestions' question_exam_id %}" hx-indicator="#suggestions_spinner">
                {% csrf_token %}
                {{ suggestions_form.full_ans|as_crispy_field }}
                {{ suggestions_form.selection|as_crispy_field }}
                {{ suggestions_form.reason|as_crispy_field }}
                {% comment %} {{ suggestions_form.full_ans.as_hidden }} {% endcomment %}
                <div class="d-flex flex-row align-items-center">
                    <input class="btn btn-secondary mr-3" type="submit" value="Submit">
                    <div id="suggestions_spinner" class="spinner-border text-primary htmx-indicator" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </form>

            <p class="mt-3" id="rule_suggestion"></p>
        </div>
        <br>

        <h4>Created Rules</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rules</th>
                    <th scope="col">Answers</th>
                </tr>
            </thead>
            <tbody>
                {% for rule in orphan_rules %}
                {% if not rule.parent %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>
                        <span style="background-color:{{ color_to_rule|get_item:rule.id }}">
                            {% if rule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% elif rule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% elif rule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% else %}{{rule}}{% endif %}
                        </span> 
                        {% if rule.similarity_threshold %} - similarity: {{rule.similarity_threshold}}{% endif %}
                        <br>
                        {% for subrule in rule.rule_set.all %}
                        <p class="mt-1" style='margin: 0; padding: 0;'>-- <span style="background-color:{{ color_to_rule|get_item:subrule.id }}">
                            {% if subrule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% elif subrule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% elif subrule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% else %}{{subrule}}{% endif %} (n: {{subrule.answer_set.all.count}})
                        </span></p>
                            {% for subsubrule in subrule.rule_set.all %}
                            <p class="mt-1" style='margin: 0; padding: 0;'>---- <span style="background-color:{{ color_to_rule|get_item:subsubrule.id }}">
                                {% if subsubrule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% elif subsubrule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% elif subsubrule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% else %}{{subsubrule}}{% endif %} (n: {{subsubrule.answer_set.all.count}})
                            </span></p>
                            {% endfor%}
                        {% endfor%}
                    </td>
                    <td>{{rule.answer_set.all.count}}</td>
                </tr>
                {% endif %}
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    var hidden = true;

    $(document).ready(function () {
        const collection = document.querySelectorAll('.hidden_card');
        for (const el of collection) {
            el.classList.add('d-none');
        }

        var words_array = {{ keywords | safe }};
        console.log(words_array);
    
        $('.answer-card').html(function(i, html){
            for (let i = 0; i < words_array.length; i++) {
                var regEx = new RegExp("(" + words_array[i] + ")(?!([^<]+)?>)", "gi");
                html = html.replace(regEx, '<span class="text-primary">$1</span>');
            }
            // return html.replace("attribute", '<span class="text-primary">attribute</span>'); 
            return html; 
        });

        // hide all the divs
        $('.rule_input_div').hide();
        $('.example_buttons').hide();

        // Show and hide selected div
        $('#id_rule_type_selection').change(function () {
            var value = this.value;

            $('.rule_input_div').hide();
            $('.example_buttons').hide();
            $('#' + this.value).show();

            if (value != "pick") {$('#all_rules').show()};
            //if (value == "keyword_rule" || value == "sentence_rule") {$('.example_buttons').show(); $('#progress_bars').show()};
            if (value == "sentence_rule") {$('.example_buttons').show(); $('#progress_bars').show()};
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        const positive_examples = [];
        const negative_examples = [];
        const border_weight = "border-2";

        function addBorders(card_body, button_id, current_value){
            if (button_id.startsWith('negative')){
                if (card_body.hasClass(border_weight)) {
                    card_body.removeClass('border-danger');
                    card_body.removeClass(border_weight);
                    var myIndex = negative_examples.indexOf(current_value);
                    if (myIndex !== -1) {
                        negative_examples.splice(myIndex, 1);
                    }
                    document.getElementById("positive_" + current_value).parentElement.classList.remove('disabled');
                }
                else {
                    card_body.addClass(border_weight);
                    card_body.addClass('border-danger');
                    negative_examples.push(current_value);
                    document.getElementById("positive_" + current_value).parentElement.classList.add('disabled');
                }
            } else {
                if (card_body.hasClass(border_weight)) {
                    card_body.removeClass('border-success');
                    card_body.removeClass(border_weight);
                    var myIndex = positive_examples.indexOf(current_value);
                    if (myIndex !== -1) {
                        positive_examples.splice(myIndex, 1);
                    }
                    document.getElementById("negative_" + current_value).parentElement.classList.remove('disabled');
                }
                else {
                    card_body.addClass(border_weight);
                    card_body.addClass('border-success');
                    positive_examples.push(current_value);
                    document.getElementById("negative_" + current_value).parentElement.classList.add('disabled');
                }
            }

        }

        // Card Multi Select
        $('input[type=checkbox]').click(function () {
            //console.log($(this).attr('value'));
            //console.log($(this).attr('id'));
            current_value = $(this).attr('value');
            button_id = $(this).attr('id');
            var card_body = $(this).parent().parent().parent().parent().parent();
            addBorders(card_body, button_id, current_value);
            $('#positive_examples_progress').css('width', (positive_examples.length*25)+'%').attr('aria-valuenow', (positive_examples.length*25));
            $('#negative_examples_progress').css('width', (negative_examples.length*25)+'%').attr('aria-valuenow', (negative_examples.length*25));
            $("#id_positive_examples").val(positive_examples.join(","));
            $("#id_negative_examples").val(negative_examples.join(","));
        });
    })

    $(".hBack").on("click", function(e){
        e.preventDefault();
        window.history.back();
    });

    function handleHiddenCards(){
        const collection = document.querySelectorAll('.hidden_card');
        if (hidden){ 
            for (const el of collection) { el.classList.remove('d-none'); }
            hidden = false;
        } else {
            for (const el of collection) { el.classList.add('d-none'); }
            hidden = true;
        }
    }

    function highlight() {
        var text = document.getElementById("id_keyword").value;
        const answers = document.querySelectorAll('.answer-card');

        answers.forEach((answer) => {
            answer.innerHTML = answer.innerHTML.replaceAll(/\<span class\=\"highlight\"\>(.*?)\<\/span\>/gi, "$1")
            var regEx = new RegExp("(" + text + ")(?!([^<]+)?>)", "gi");
            answer.innerHTML = answer.innerHTML.replace(regEx, '<span class="highlight">$1</span>');
            //var innerHTML = answer.innerHTML.replaceAll(/\<span class\=\"highlight\"\>(.*?)\<\/span\>/gi, "$1").replaceAll(text, '<span class="highlight">' + text + "</span>");
            //answer.innerHTML = innerHTML;
        });
    }

    function getSelectionText() {
        var text = document.getElementById("id_selection").value;

        if (window.getSelection && window.getSelection().toString() != "") {
            text = window.getSelection().toString();
            sel = window.getSelection();
            parentEl = sel.getRangeAt(0).commonAncestorContainer;
            document.getElementById("id_full_ans").value = parentEl.textContent;
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        } 
        return text;
    }
    
    document.onmouseup = document.onkeyup = document.onselectionchange = function() {
      document.getElementById("id_selection").value = getSelectionText();
    };

</script>

<style>
    .border-3 {
        border-width:3px !important;
    }
    .border-4 {
        border-width:4px !important;
    }
    .border-2 {
        border-width:2px !important;
    }

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
</style>

{% endblock %}