{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">

<div class="row">
    <div class="col-6 d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Question Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for q in question_list %}
                <a class="dropdown-item" href="{% url 'building_blocks' q.pk %}">Question {{ q.question_exam_id }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>

<h2>Rule Creation</h2>

{% comment %} <p class="text-secondary">TODO: Add description</p> {% endcomment %}

<div class="row">
    <div class="col-9">
        {% if question_obj.question_image_url %}
        <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
            <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
        <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
        {% else %}
        <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
        {% endif %}

        <p>Total answers: {{ answer_count }}</p>

        <br>

        <div class="card-deck" id="answer_card_deck">
        {% for answer in answers %}
            <div class="card mb-2 {% if forloop.counter > 15 %}hidden_card{% endif %}">
                <div class="card-body">
                            <p class="card-text answer-card">{{answer.answer_text}}</p>
                            
                    <div class="row">
                        <div class="col-sm-3">
                            <small class="text-muted">Grade: {{answer.assigned_grade}}{% if answer.word %}, Word: {{answer.word}}{% endif %}
                                {% if answer.score %}, Similarity Score: {{answer.score}}{% endif %} </small><br>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if answer.rule_strings != "[]" %}
                        {% for rule in answer.get_rule_strings %}
                        <button type="button" style="background-color:{{ color_to_rule|get_item:rule.0 }}; color:DarkSlateGray;" 
                            class="btn btn-primary btn-sm btn-block unpadded-button border-white text-truncate text-left" 
                            data-toggle="tooltip" data-placement="top" title="{{rule.1}}">{{ rule.0|count_parents }} {{rule.1}}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3  %} 
            <div class="w-100 d-none d-block"></div> 
            {% endif %}
        {% endfor%}
        </div>
        <div class="d-flex justify-content-center">
            <button onclick="handleHiddenCards()" type="button" class="btn btn-primary">Show/Hide</button>
        </div>
    </div>
    <div class="col-3">
        <h4>Create Rule</h4>
        <form action="{% url 'building_blocks' question_exam_id %}" method="post">
            {% csrf_token %}

            <div class="rule_type_select">
                <div class="d-flex align-items-center">
                    {{ form.rule_type_selection|as_crispy_field }}
                </div>
            </div>
            
            <div class="rule_input_div" id="keyword_rule">
                <div class="d-flex align-items-center">
                    {{ form.keyword|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center">
                    {{ form.keyword_similarity|as_crispy_field }}
                    <output class="mx-3" name="keyword_similarity_choice" id="keyword_similarity_choice" for="keywordSimilarityInput">
                        {{ form.keyword_similarity.value|default_if_none:1.0 }}
                    </output>
                </div>
            </div>
            <div class="rule_input_div" id="sentence_rule">
                <div class="d-flex align-items-center">
                    {{ form.sentence|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center">
                    {{ form.sentence_similarity|as_crispy_field }}
                    <output class="mx-3" name="sentence_similarity_choice" id="sentence_similarity_choice" for="sentenceSimilarityInput">
                        {{ form.sentence_similarity.value|default_if_none:0.8 }}
                    </output>
                </div>
                <div class="d-flex align-items-center">
                    {{ form.sentence_similarity_method|as_crispy_field }}
                </div>
            </div>
            <div class="rule_input_div" id="length_rule">
                <div class="d-flex align-items-center">
                    {{ form.length_type|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center">
                    {{ form.answer_length|as_crispy_field }}
                </div>
            </div>

            <div class="parent_select mb-3">
                <div class="d-flex align-items-center">
                    <select class="select form-control" name="parent" style="width:auto;">
                        <option selected>-- Parent Rule --</option>
                        {% for rule in rules %}
                        <option value="{{rule.id}}">{{rule}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <br><br>
        <h4>Created Rules</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rules</th>
                    <th scope="col">Answers</th>
                </tr>
            </thead>
            <tbody>
                {% for rule in orphan_rules %}
                {% if not rule.parent %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>
                        <span style="background-color:{{ color_to_rule|get_item:rule.id }}">
                            {% if rule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% elif rule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% elif rule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' rule.pk %}" class="text-dark">{{rule}}</a>
                            {% else %}{{rule}}{% endif %}
                        </span> 
                        {% if rule.similarity_threshold %} - similarity: {{rule.similarity_threshold}}{% endif %}
                        <br>
                        {% for subrule in rule.rule_set.all %}
                        <p class="mt-1" style='margin: 0; padding: 0;'>-- <span style="background-color:{{ color_to_rule|get_item:subrule.id }}">
                            {% if subrule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% elif subrule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% elif subrule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' subrule.pk %}" class="text-dark">{{subrule}}</a>
                            {% else %}{{subrule}}{% endif %} (n: {{subrule.answer_set.all.count}})
                        </span></p>
                            {% for subsubrule in subrule.rule_set.all %}
                            <p class="mt-1" style='margin: 0; padding: 0;'>---- <span style="background-color:{{ color_to_rule|get_item:subsubrule.id }}">
                                {% if subsubrule.polymorphic_ctype.name == "keyword rule" %}<a href="{% url 'keywordrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% elif subsubrule.polymorphic_ctype.name == "sentence similarity rule" %}<a href="{% url 'sentencesimilarityrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% elif subsubrule.polymorphic_ctype.name == "answer length rule" %}<a href="{% url 'answerlengthrule_update' subsubrule.pk %}" class="text-dark">{{subsubrule}}</a>
                                {% else %}{{subsubrule}}{% endif %} (n: {{subsubrule.answer_set.all.count}})
                            </span></p>
                            {% endfor%}
                        {% endfor%}
                    </td>
                    <td>{{rule.answer_set.all.count}}</td>
                </tr>
                {% endif %}
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    var hidden = true;

    $(document).ready(function () {
        const collection = document.querySelectorAll('.hidden_card');
        for (const el of collection) {
            el.classList.add('d-none');
        }

        var words_array = {{ keywords | safe }};
        console.log(words_array);
    
        $('.answer-card').html(function(i, html){
            for (let i = 0; i < words_array.length; i++) {
                var regEx = new RegExp("(" + words_array[i] + ")(?!([^<]+)?>)", "gi");
                html = html.replace(regEx, '<span class="text-primary">$1</span>');
            }
            // return html.replace("attribute", '<span class="text-primary">attribute</span>'); 
            return html; 
        });

        // hide all the divs
        $('.rule_input_div').hide()

        // Show and hide selected div
        $('#id_rule_type_selection').change(function () {
            var value = this.value;

            $('.rule_input_div').hide()
            $('#' + this.value).show();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    })

    $(".hBack").on("click", function(e){
        e.preventDefault();
        window.history.back();
    });

    function handleHiddenCards(){
        const collection = document.querySelectorAll('.hidden_card');
        if (hidden){ 
            for (const el of collection) { el.classList.remove('d-none'); }
            hidden = false;
        } else {
            for (const el of collection) { el.classList.add('d-none'); }
            hidden = true;
        }
    }

    function highlight() {
        var text = document.getElementById("id_keyword").value;
        const answers = document.querySelectorAll('.answer-card');

        answers.forEach((answer) => {
            answer.innerHTML = answer.innerHTML.replaceAll(/\<span class\=\"highlight\"\>(.*?)\<\/span\>/gi, "$1")
            var regEx = new RegExp("(" + text + ")(?!([^<]+)?>)", "gi");
            answer.innerHTML = answer.innerHTML.replace(regEx, '<span class="highlight">$1</span>');
            //var innerHTML = answer.innerHTML.replaceAll(/\<span class\=\"highlight\"\>(.*?)\<\/span\>/gi, "$1").replaceAll(text, '<span class="highlight">' + text + "</span>");
            //answer.innerHTML = innerHTML;
        });
    }

</script>

{% endblock %}