{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load block_extras %}

<!doctype html>
<html>
    <body>
        <div class="row">
            <div class="col-3 d-flex align-items-center">
                <a href="{% url 'refinement' question_id %}" class="btn btn-secondary">Stage 2: Rule Refinement</a>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-secondary">Stage 4: Export</a>
            </div>
        </div>

        <nav aria-label="...">
            <ul class="pagination justify-content-center flex-wrap mt-1">
                <li class="page-item {% if cluster_id < cluster_list.2.id %}disabled{% endif %}">
                    <a class="page-link my-1" href="{% url 'grade' question_id cluster_id|add:"-1" %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                {% for clus in cluster_list %}
                    {% if clus.cluster_id != -1 %}
                    <li class="page-item "><a href="{% url 'grade' question_id clus.id %}" class="btn {% if clus.cluster_grade is None %}btn-secondary{% else %}btn-success{% endif %} {% if clus.id == cluster_id %}border-dark border-3{% endif %} ml-1 my-1">#{{ clus.cluster_id }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if cluster_list.0.cluster_id is -1 %}
                    <li class="page-item"><a href="{% url 'grade' question_id cluster_list.0.id %}" class="btn {% if cluster_list.0.cluster_grade is None %}btn-secondary{% else %}btn-success{% endif %} {% if cluster_list.0.id == cluster_id %}border-dark border-3{% endif %} ml-1 my-1">#{{ cluster_list.0.cluster_id }}</a></li>
                {% endif %}
                <li class="page-item {% if cluster_id >= cluster_list.last.id or cluster.cluster_id == -1 %}disabled{% endif %}">
                    <a class="page-link ml-1 my-1" href="{% url 'grade' question_id cluster_id|add:"1" %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <br>

        <h2>Grading and Feedback</h2>

        <p class="text-secondary">Next, we get to grade and provide feedback for the finalized answer groups.</p>

        <br>

        <div class="container-fluid">
            <div class="row">
                <div {% if cluster.cluster_id != -1 %}class="col-8"{% else %}class="col-12"{% endif %}>
                    <h2>Answer Group #{{ cluster.cluster_id }} ({{ table.rows|length }} rows)</h2>
                    
                    <ul>
                        {% for rule in applied_rules %}
                        <li>
                            <span style="background-color:{{ color_to_rule|get_item:rule.id }}">{{ rule.id|count_parents }} {{rule}}</span><br>
                        </li>
                        {% endfor %}
                    </ul>
                    {% render_table table %}

                </div>
                {% if cluster.cluster_id != -1 %}
                <div class="col-4">
                    <form action="{% url 'grade' question_id cluster_id %}" method="post">
                        {% csrf_token %}
                        
                        {{ form | crispy }}

                        <button type="submit" class="btn btn-primary">Save</button>

                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="AnswerEditModal" tabindex="-1" role="dialog" aria-labelledby="AnswerEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AnswerEditModalLabel">Edit Individual Answer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="AnswerEditDiv"></div>
                    </div>
                    {% comment %} <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </body>

</html>

<script>
    // get the serialized keyword dictionary from django template
    var words_array = {{ keyword_list | safe }};
    console.log(words_array);

    $('td').html(function(i, html){
        for (let i = 0; i < words_array.length; i++) {
            var regEx = new RegExp("(" + words_array[i] + ")(?!([^<]+)?>)", "gi");
            html = html.replace(regEx, '<span class="text-primary">$1</span>');
        }
        // return html.replace("attribute", '<span class="text-primary">attribute</span>'); 
        return html; 
    });

    // change grade input in form upon click of checkboxes
    $('input.form-check-input').on('change', function () {
        // console.log($(this).is(':checked'));
        // console.log($(this).val());

        if ($(this).is(':checked')) {
            if ($('#cluster_grade').val() != ''){
                // $('#cluster_grade').attr('value', parseFloat($('#cluster_grade').val()) + parseFloat($(this).val()));
                document.getElementById('cluster_grade').value = parseFloat($('#cluster_grade').val()) + parseFloat($(this).val());
            } else{
                // $('#cluster_grade').attr('value',$(this).val());
                document.getElementById('cluster_grade').value =$(this).val();
            }
        } else {
            // $('#cluster_grade').attr('value', parseFloat($('#cluster_grade').val()) - parseFloat($(this).val()));
            document.getElementById('cluster_grade').value = parseFloat($('#cluster_grade').val()) - parseFloat($(this).val());
        }
    });

</script>

<style>
    .border-3 {
        border-width:3px !important;
    }
    .border-4 {
        border-width:4px !important;
    }
    .border-2 {
        border-width:2px !important;
    }
</style>

{% endblock %}