{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'favicon_io/favicon.ico' %}" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% comment %} <a class="nav-item nav-link active" href="/clustering/question_list">Questions</a>
      <a class="nav-item nav-link active" href="/clustering/answer_list">Answers</a> {% endcomment %}
      <a class="nav-item nav-link {% if request.resolver_match.url_name == 'building_blocks' %}active{% endif %}" href="{% url 'building_blocks' 1 %}">Comb</a>
      <a class="nav-item nav-link {% if request.resolver_match.url_name == 'chatgpt' %}active{% endif %}" href="{% url 'chatgpt' 1 %}">ChatGPT</a>
      <a class="nav-item nav-link" role="button" data-toggle="modal" data-target="#ResetModal">System Reset</a>
      <a class="nav-item nav-link" href="/admin">Admin Panel</a>
      {% comment %} <a class="nav-item nav-link active" href="{% url 'logout' %}">Log Out</a> {% endcomment %}
    </div>
  </div>
</nav>

  <!-- System Reset Modal -->
<div class="modal fade" id="ResetModal" tabindex="-1" role="dialog" aria-labelledby="ResetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content" id="navbar_modal_content">
          <div class="modal-header">
            <h5 class="modal-title" id="ResetModalLabel">System Reset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="start_clustering_prompt">
              Are you sure you want to remove all rules?
            </p>
          </div>
          <div class="modal-footer" >
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a type="button" class="btn btn-primary" href="#" hx-get="{% url 'system_reset' %}" 
                hx-swap="none" hx-trigger="click" onClick="setTimeout(function(){window.location.reload()}, 150);">Continue</a>
          </div>
      </div>
  </div>
</div>
