<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Block-by-Block</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% comment %} <a class="nav-item nav-link active" href="/clustering/question_list">Questions</a>
        <a class="nav-item nav-link active" href="/clustering/answer_list">Answers</a> {% endcomment %}
        <a class="nav-item nav-link active" href="{% url 'building_blocks' 1 %}">Building Blocks</a>
      
      <ul class="navbar-nav ml-auto">
        {% comment %} <a class="nav-item nav-link active" role="button" data-toggle="modal" data-target="#ResetModal">System Reset</a> {% endcomment %}
        <a class="nav-item nav-link active" href="/admin">Admin Panel</a>
        {% comment %} <a class="nav-item nav-link active" href="{% url 'logout' %}">Log Out</a> {% endcomment %}
      </ul>
    </div>
  </nav>

  </script>