{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">


<div id="loader" style="display:none">
    <div class="d-flex justify-content-center align-items-center" style="height:85vh">
        <h4 class="mr-4">Please wait while our AI decides which <br> rubrics match each answer, and why!</h4>

        <div class="spinner-border text-info" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div id="loaded-page">
    <div class="row">
        <div class="col-4 d-flex align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Question Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for q in question_list %}
                    <a class="dropdown-item" href="{% url 'rubric_creation_2' q.pk %}">Question {{ q.question_exam_id }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructionsModal">
                Instructions
            </button>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
            {% comment %} <a href="{% url 'rubric_tagging' question_obj.id %}" class="btn btn-secondary">Stage 2: Tagging and Feedback</a> {% endcomment %}
            <a href="{% url 'rubric_refinement' question_obj.id %}" onclick="fadeOutLoadedPage()" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
        </div>
    </div>
    <br>

    <!-- Modal for youtube video embedded -->
    <!-- Modal -->
    <div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="instructionsModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w-WB3GOwHWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <h2>Rubric Creation 💡</h2>

    {% if question_obj.question_image_url %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
        <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
    <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
    {% else %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
    {% endif %}

    <p>Total answers: {{ answer_count }}</p>

    <br>
    <div class="row mt-4 mb-2">
        <div class="col-6">
            <div class="row mb-2">
                <div class="col-8">
                    <h4>Positive Rubrics</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('positive')">Add</a>
                </div>
            </div>
            <div id="positive_rubric_list"></div>
        </div> 
        <div class="col-6">
            <div class="row mb-2">
                <div class="col-8">
                    <h4>Negative Rubrics</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('negative')">Add</a>
                </div>
            </div>
            <div id="negative_rubric_list"></div>
        </div> 
    </div> 
    
    {% comment %} <div class="card-deck" id="rubric_card_deck">           
        {% for rubric in rubric_list %}
        <div class="card mb-2">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-9">
                        <b>Rubric #{{ rubric.id }}: {{ rubric.title }} {% if rubric.polarity == "positive" %}✔️{% else %}❌{% endif %}</b>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <p class="text-secondary px-2 font-weight-bold" id="status_{{ rubric.id }}"></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>Description: {{ rubric.description }}</p>
                {% for example in rubric.examples %}
                <p>Example: {{ example }}</p>
                {% endfor %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:2  %} 
        <div class="w-100 d-none d-block"></div> 
        {% endif %}
        {% endfor %}
    </div> {% endcomment %}

    {% comment %} <div class="row">
        <div class="col-8">
            <div class="card-deck" id="answer_card_deck">
                {% for answer in answers %}
                <div id="answer_{{answer.id}}" class="card mb-2" draggable="true" ondragstart="drag(event)" value="{{answer.answer_text}}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <b>Answer {{ forloop.counter }}</b>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="text-secondary px-2 font-weight-bold" id="status_{{ answer.id }}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p>{{ answer.answer_text }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2  %} 
                <div class="w-100 d-none d-block"></div> 
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col-4">
            <div class="container sticky-top">

                <div class="row mb-2">
                    <div class="col-8">
                        <h4>Positive Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('positive')">Add</a>
                    </div>
                </div>
                <div id="positive_rubric_list"></div>
                
                <div class="row mt-4 mb-2">
                    <div class="col-8">
                        <h4>Negative Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('negative')">Add</a>
                    </div>
                </div>
                <div id="negative_rubric_list"></div>
                
            </div>
        </div> 
    </div> {% endcomment %}

    <!-- Modal for editing rubric -->
    <div class="modal fade" id="editingModal" tabindex="-1" role="dialog" aria-labelledby="editingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingModalLabel">Editing Rubric #X</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title-name" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title-name">
                        </div>
                        <div class="form-group">
                            <label for="description-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="examples-text" class="col-form-label">Example(s):</label>
                            <textarea class="form-control" id="examples-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    // parse django answers to js dict
    var rubric_list = {{ rubric_list|safe }};
    console.log(rubric_list);

    function update_rubric_list() {
        $.ajax({
            url: "{% url 'update_rubric_list' question_obj.id %}",
            data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'rubric_list':  JSON.stringify(rubric_list)},
            dataType: "json",
            type: 'POST',
        }).done(function(response){
            console.log(response);
        });
    }

    function get_highest_rubric_id(){
        var highest_id = 0;
        rubric_list.forEach(function(item) {
            if (item.id > highest_id) {
                highest_id = item.id;
            }
        });
        return highest_id;
    }

    function add_new_rubric_item(polarity, rubric_dict= null){
        var highest_id = get_highest_rubric_id();
        var rubric_id = highest_id + 1;

        var index = 0;
        var lowest = 1000;
        rubric_list.forEach(function(item) {
            curr_item_idx = rubric_list.indexOf(item)
            if (item.id == 0 && curr_item_idx < lowest) {
                index = curr_item_idx;
                lowest = curr_item_idx;
            }
        });

        if (rubric_dict){
            new_rubric_dict = rubric_dict
            new_rubric_dict.id = rubric_id;

            // move rubric in list to before any rubrics with id of 0
            rubric_list.splice(index, 0, rubric_list.splice(rubric_list.indexOf(rubric_dict), 1)[0]);
        } else {
            new_rubric_dict = {
                "id": rubric_id,
                "title": "N/A",
                "description": "N/A",
                "polarity": polarity,
                "examples": ["N/A"],
                "reasoning_dict": {},
            }

            // add new rubric to rubric_list before any rubrics with id of 0
            rubric_list.splice(index, 0, new_rubric_dict);

            add_rubric_item_element(new_rubric_dict, true);
        }

        update_rubric_list();
        return new_rubric_dict
    }

    function add_rubric_item_element(rubric_dict, new_item=false){
        // get polarity
        var polarity = rubric_dict.polarity;
        // get element to append to
        var rubric_list_el = document.getElementById(polarity + "_rubric_list");
        var rubric_id = rubric_dict.id;

        const cardDiv = document.createElement("div");
        cardDiv.classList.add("card");
        cardDiv.classList.add("mb-2");
        cardDiv.id = "rubric_" + rubric_id;
      
        const cardHeaderDiv = document.createElement("div");
        cardHeaderDiv.classList.add("card-header");
        cardHeaderDiv.id = "rubricheading_" + rubric_id;
      
        const rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
      
        const col8Div = document.createElement("div");
        col8Div.classList.add("col-8");
      
        const rubric_title = document.createElement("p");
        // make h5 show rubric title
        rubric_title.innerHTML = "<b>Rubric #" + rubric_id + ": " + rubric_dict.title + "</b>";
        col8Div.appendChild(rubric_title);
      
        const col4Div = document.createElement("div");
        col4Div.classList.add("col-4");
        const btnGroup = document.createElement("div");
        btnGroup.classList.add("btn-group", "btn-group-sm", "float-right");
        btnGroup.setAttribute("role", "group");
        btnGroup.setAttribute("aria-label", "Basic example");
        const editButton = document.createElement("button");
        editButton.setAttribute("type", "button");
        editButton.classList.add("btn", "btn-secondary");
        editButton.textContent = "Edit";
        const deleteButton = document.createElement("button");
        deleteButton.setAttribute("type", "button");
        deleteButton.classList.add("btn", "btn-secondary");
        deleteButton.textContent = "Delete";

        // attach event listener to Edit button to open modal
        editButton.addEventListener("click", function() {
            // open modal
            $('#editingModal').modal('show');

            // update modal title
            document.getElementById("editingModalLabel").innerHTML = "Editing Rubric #" + rubric_id;

            // populate modal with rubric info
            document.getElementById("title-name").value = rubric_dict.title;
            document.getElementById("description-text").value = rubric_dict.description;
            document.getElementById("examples-text").value = rubric_dict.examples.join(", ");

            // remove event listener from Update button
            var old_element = document.getElementById("editingModal").querySelector("button.btn-primary");
            var new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);

            // attach event listener to Update button to update rubric info
            document.getElementById("editingModal").querySelector("button.btn-primary").addEventListener("click", function() {
                // update rubric info
                rubric_dict.title = document.getElementById("title-name").value;
                rubric_dict.description = document.getElementById("description-text").value;
                rubric_dict.examples = [document.getElementById("examples-text").value];

                // update rubric item element
                var rubric_item_el = document.getElementById("rubricheading_" + rubric_id).querySelector("p");
                rubric_item_el.innerHTML = "<b>Rubric #" + rubric_id + ": " + rubric_dict.title + "</b>";

                console.log(rubric_item_el);
                console.log(rubric_dict.title);

                // update the rubric item element's Description
                var description_el = document.getElementById("description_" + rubric_id);
                description_el.innerHTML = "<b>Description:</b> " + rubric_dict.description;

                // update the rubric item element's examples
                var examples_el = document.getElementById("examples_" + rubric_id);
                examples_el.innerHTML = "<b>Example(s):</b> " + rubric_dict.examples.join(", ");

                // update rubric list
                update_rubric_list();

                // close modal
                $('#editingModal').modal('hide');
            });
        });

        // attach event listener to Delete button to remove current div and remove from rubric list
        deleteButton.addEventListener("click", function() {
            // remove current div
            var card_to_remove = document.getElementById("rubric_" + rubric_id);
            card_to_remove.parentNode.removeChild(card_to_remove);

            // get index in rubric list of the current rubric 
            var index = 0;
            rubric_list.forEach(function(item) {
                if (item.id == rubric_id) {
                    index = rubric_list.indexOf(item);
                }
            });

            rubric_list.splice(index, 1);

            update_rubric_list();
        });

        btnGroup.appendChild(editButton);
        btnGroup.appendChild(deleteButton);
        col4Div.appendChild(btnGroup);
      
        rowDiv.appendChild(col8Div);
        rowDiv.appendChild(col4Div);
      
        cardHeaderDiv.appendChild(rowDiv);
      
        const cardBodyDiv = document.createElement("div");
        cardBodyDiv.classList.add("card-body");
        cardBodyDiv.id = "rubricbody_" + rubric_id;

        const descriptionElement = document.createElement("p");
        descriptionElement.innerHTML = "<b>Description:</b> " + rubric_dict.description;
        descriptionElement.id = "description_" + rubric_id;

        const exampleElement = document.createElement("p");
        exampleElement.innerHTML = "<b>Example(s):</b> " + rubric_dict.examples.join(", ");
        exampleElement.id = "examples_" + rubric_id;

        cardBodyDiv.appendChild(descriptionElement);
        cardBodyDiv.appendChild(exampleElement);
        cardDiv.appendChild(cardHeaderDiv);
        cardDiv.appendChild(cardBodyDiv);

        // insert new rubric item element before any other rubrics in this list
        if (new_item) {
            rubric_list_el.insertBefore(cardDiv, rubric_list_el.childNodes[0]);
        } else {
            rubric_list_el.appendChild(cardDiv);
        }
    }

    $(document).ready(function () {
        rubric_list.forEach(function(rubric) {
            if (rubric.id != 0) {
                add_rubric_item_element(rubric);
            }
        });
    })

    // function to fade out loaded page when button is clicked and fade in loader
    function fadeOutLoadedPage() {
        $( "#loaded-page" ).fadeOut(400, function(){
            $( "#loader" ).fadeIn(400);
        });  
    }

</script>

{% endblock %}