{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">

<div class="row">
    <div class="col-6 d-flex align-items-center">
        <a href="{% url 'rubric_refinement' question_obj.id %}" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
          <a href="#" class="btn btn-secondary">Stage 4: Apply and Export!</a>
    </div>
</div>
<br>

<h2>Feedback Refinement 💬</h2>

{% if question_obj.question_image_url %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
    <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
<div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
{% else %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
{% endif %}

<p>Total answers: {{ answer_count }}</p>

<br>

{% comment %} Iterate through each answer and make a container containing a card for the answer text {% endcomment %}
{% for answer in answers %}
{% with feedback=answer.answerfeedback_set.all.first %}
<div class="row mb-5">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Answer {{ forloop.counter }}</h5>
                <h1 class="card-text" id="anstext_{{answer.id}}">{{ answer.answer_text }}</h1>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <h5>Feedback:</h5>
            </div>
            <div class="col-6">
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Edit</button>
                    <button type="button" class="btn btn-secondary">Regenerate</button>
                </div>
            </div>
        </div>
        <p id="feedbacktext_{{answer.id}}">{{feedback.feedback}}</p>
        <h5>Rubrics:</h5>
        {% for tag in answer.answertag_set.all %}
            {% comment %} <li>{{tag.tag}} - {{ rubric_dict|get_item:tag.tag }} (relevance: {{ tag|get_tagdict_item:"relevancy" }}
                {% if tag|get_tagdict_item:"relevancy" != "0" %}, reason: {{ tag|get_tagdict_item:"reasoning" }}{%endif%})</li> {% endcomment %}
            {% if tag|get_tagdict_item:"relevancy" != "0" %}
                <li><b>{{tag.tag}}</b> - {{ rubric_dict|get_item:tag.tag }} (relevance: {{ tag|get_tagdict_item:"relevancy" }}, reason: {{ tag|get_tagdict_item:"reasoning" }})</li>
            {%endif%}
        {% endfor %}
    </div>
</div>

{% endwith %}
{% endfor %}

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    ans_feedbacks = {{ ans_feedbacks|safe }};

    $(document).ready(function () {

        // highlight function
        function highlight(text, search) {
            var re = new RegExp(search, "gi");
            return text.replace(re, "<span class='highlight'>" + search + "</span>");
        }

        function attachMouseover(link, answer, answer_highlight, answer_highlighted) {
            link.onmouseover = function() {
                answer.innerHTML = answer.innerHTML.replace(answer_highlight, answer_highlighted);
            }
            link.onmouseout = function() {
                answer.innerHTML = answer.innerHTML.replace(answer_highlighted, answer_highlight);
            }
        }

        // for each item in ans_feedbacks dict...
        for (var key in ans_feedbacks) {
            if (ans_feedbacks.hasOwnProperty(key)) {
                associations = ans_feedbacks[key];
                // iterate through each association (list of dicts)
                for (var i = 0; i < associations.length; i++) {
                    // each dict has "answer_highlight" and "feedback_highlight" keys, use these to highlight the answer and feedback for the current answer id
                    var answer_highlight = associations[i]["answer_highlight"];
                    var feedback_highlight = associations[i]["feedback_highlight"];

                    var anstext_el = document.getElementById("anstext_" + key);
                    var feedbacktext_el = document.getElementById("feedbacktext_" + key);

                    // create a link from this word
                    var feedback_highlight_link = "<a href=\"#\" id=\"feedbacklink_" + key + "_" + i + "\">" + feedback_highlight + "</a>";
                    feedbacktext_el.innerHTML = feedbacktext_el.innerHTML.replace(feedback_highlight, feedback_highlight_link);
                    var feedbacklink_el = document.getElementById("feedbacklink_" + key + "_" + i);
                    var answer_highlighted = "<span class=\"highlight\">" + answer_highlight + "</span>";

                    attachMouseover(feedbacklink_el, anstext_el, answer_highlight, answer_highlighted);
                }
            }
        }

    })

</script>

{% endblock %}