{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">


<div id="loader" style="display:none">
    <div class="d-flex justify-content-center align-items-center" style="height:85vh">
        <h4 class="mr-4" id="loading_message">Please wait while our AI generates feedback <br> for each answer based on the rubrics matched!</h4>

        <div class="spinner-border text-info" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div id="loaded-page">
    <div class="row">
        <div class="col-4 d-flex align-items-center">
            <a href="{% url 'rubric_creation_2' question_obj.id %}" class="btn btn-secondary">Stage 1: Rubric Creation</a>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructionsModal">
                Instructions
            </button>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
            <a href="{% url 'rubric_feedback' question_obj.id %}" onclick="fadeOutLoadedPage('next')" class="btn btn-secondary">Stage 3: Feedback</a>
        </div>
    </div>
    <br>

    <!-- Modal for youtube video embedded -->
    <!-- Modal -->
    <div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="instructionsModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dbOLYSMvSWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>


    <h2>Rubric Refinement 🔍</h2>

    {% if question_obj.question_image_url %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
        <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
    <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
    {% else %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
    {% endif %}

    <p>Total answers: {{ answer_count }}</p>

    <br>

    {% comment %} Iterate through each answer and make a container containing a card for the answer text {% endcomment %}
    {% for answer in answers %}
    <div class="row mb-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Answer {{ forloop.counter }} {% with first_tag=answer.answertag_set.first %}{% if show_new and first_tag.new %}(new){% endif %}{% endwith %}</h5>
                    <h1 class="card-text" id="anstext_{{answer.id}}">{{ answer.answer_text }}</h1>
                </div>
            </div>
        </div>

        <div class="col-6">

            <form class="form" id="form_{{answer.id}}">
                <div class="form-group">
                    <h5>Rubrics:</h5>
                    {% for tag in answer.answertag_set.all %}
                        <label for="slider_{{tag.id}}" id="label_slider_{{tag.id}}">{{tag.tag}} - {{ rubric_dict|get_item:tag.tag }}:</label>
                        <input type="range" id="slider_{{tag.id}}" name="slider_{{tag.id}}" min="0" max="1" step="0.5" value="{{ tag|get_tagdict_item:"relevancy" }}" class="form-control-range" oninput="updateSliderValue(this, 'slider_{{tag.id}}')">

                        <div id='taginfo_{{tag.id}}' class="mb-3">
                            <label for="reasoning_{{tag.id}}">Reasoning:</label>
                            <textarea id="reasoning_{{tag.id}}" name="reasoning_{{tag.id}}" rows="2" cols="50" class="form-control" placeholder="Enter reasoning...">{{ tag|get_tagdict_item:"reasoning" }}</textarea>

                            <label for="highlighted_{{tag.id}}_{{answer.id}}">Highlighted Text:</label>
                            <textarea id="highlighted_{{tag.id}}_{{answer.id}}" name="highlighted_{{tag.id}}_{{answer.id}}" rows="1" cols="50" class="form-control" placeholder="Enter highlighted text...">{{ tag|get_tagdict_item:"highlighted" }}</textarea>
                        </div>
                    {% endfor %}
                </div>
            </form>

        </div>
    </div>
    {% endfor %}
</div>

<br>

<style>
    .highlight {
        background-color: palegreen;
    }
</style>

<script>

    function update_answer_tag(tag_id, reasoning_dict) {
        $.ajax({
            url: "{% url 'update_answer_tag' %}",
            data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'reasoning_dict':  JSON.stringify(reasoning_dict), 'tag_id': tag_id},
            dataType: "json",
            type: 'POST',
        }).done(function(response){
            console.log(response);
        });
    }

    $(document).ready(function () {
        // get all sliders and update slider values
        var sliders = document.querySelectorAll('input[type="range"]');
        sliders.forEach(function(slider) {
            updateSliderValue(slider, slider.id);
        });

        // Get all forms, and highlight the text in the highlighted textarea
        // when the document loads
        var forms = document.getElementsByClassName('form');
        for (var i = 0; i < forms.length; i++) {
            var form = forms[i];
            // get all elements that have an id that starts with highlighted
            var highlightedText = form.querySelectorAll('[id^="highlighted"]');
            for (var j = 0; j < highlightedText.length; j++) {
                var text = highlightedText[j];
                var text_to_highlight = text.value;
                if (text_to_highlight == "") { continue; }
                var ans_id = text.id.split("_")[2];
                var ans_text_el = document.getElementById("anstext_" + ans_id);
                var ans_text = ans_text_el.innerHTML;

                // match whole phrase from text_to_highlight and replace with highlighted span in ans_text
                var regex = new RegExp(text_to_highlight, "g");
                var highlighted_ans_text = ans_text.replace(regex, "<span class='highlight'>" + text_to_highlight + "</span>");
                ans_text_el.innerHTML = highlighted_ans_text;
            }
        }

        var taginfo_divs = document.querySelectorAll('[id^="taginfo_"]');
        taginfo_divs.forEach(function(div) {
            var tag_id = div.id.split("_")[1];
            div.style.display = "none"; // hide all taginfo divs
            
            // attach event listener to each textarea in the div to update the answer tag associated to the div when the input fields inside it changes
            var textareas = div.querySelectorAll('textarea');
            textareas.forEach(function(textarea) {
                textarea.addEventListener('input', function() {
                    var tag_id = div.id.split("_")[1];
                    var reasoning_dict = {};
                    var textareas = div.querySelectorAll('textarea');
                    textareas.forEach(function(textarea) {
                        var textarea_id = textarea.id.split("_")[0];
                        var textarea_value = textarea.value;
                        reasoning_dict[textarea_id] = textarea_value;
                    });
                    update_answer_tag(tag_id, reasoning_dict);
                });
            });

            // get the associated slider
            var slider = document.getElementById("slider_" + tag_id);
            slider.addEventListener('input', function() {
                var tag_id = div.id.split("_")[1];
                var reasoning_dict = {};

                // get the sliders value and update the reasoning dict key for relevancy
                var sliderValue = slider.value;
                reasoning_dict["relevancy"] = sliderValue;
                update_answer_tag(tag_id, reasoning_dict);

                // make the current div visible again
                div.style.display = "block";
            });

        });
        
    })

    function updateSliderValue(slider, sliderId) {
        var sliderValue = slider.value;
        var sliderLabel = document.getElementById("label_" + sliderId);
        var preface = sliderLabel.innerHTML.split(":")[0];
        sliderLabel.innerHTML = preface + ":";

        if (sliderValue == 0){ sliderLabel.innerHTML += " No Relevance"; }
        else if (sliderValue == 0.5){ sliderLabel.innerHTML += " Partial Relevance"; }
        else if (sliderValue == 1){ sliderLabel.innerHTML += " Full Relevance"; }
    }

    // function to fade out loaded page when button is clicked and fade in loader
    function fadeOutLoadedPage(button_clicked) {
        $( "#loaded-page" ).fadeOut(400, function(){
            // update loading message depending on button clicked
            if (button_clicked == "next") {
                $( "#loading_message" ).html("Please wait while our AI generates feedback <br> for each answer based on the rubrics matched!");
            } else if (button_clicked == "new") {
                $( "#loading_message" ).html("Please wait while we generate new examples <br> based off your input on the rubrics matches!");
            } 
            $( "#loader" ).fadeIn(400);
        });  
    }

</script>

{% endblock %}