{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">


<div id="loader" style="display:none">
    <div class="d-flex justify-content-center align-items-center" style="height:85vh">
        <h4 class="mr-4">Please wait while our AI decides which <br> rubrics match each answer, and why!</h4>

        <div class="spinner-border text-info" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div id="loaded-page">
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Question Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for q in question_list %}
                    <a class="dropdown-item" href="{% url 'rubric_creation' q.pk %}">Question {{ q.question_exam_id }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            {% comment %} <a href="{% url 'rubric_tagging' question_obj.id %}" class="btn btn-secondary">Stage 2: Tagging and Feedback</a> {% endcomment %}
            <a href="{% url 'rubric_refinement' question_obj.id %}" onclick="fadeOutLoadedPage()" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
        </div>
    </div>
    <br>

    <h2>Rubric Creation 💡</h2>

    {% if question_obj.question_image_url %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
        <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
    <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
    {% else %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
    {% endif %}

    <p>Total answers: {{ answer_count }}</p>

    <br>

    <div class="row">
        <div class="col-8">
            <div class="card-deck" id="answer_card_deck">
                {% for answer in answers %}
                <div id="answer_{{answer.id}}" class="card mb-2" draggable="true" ondragstart="drag(event)" value="{{answer.answer_text}}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <b>Answer {{ forloop.counter }}</b>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="text-secondary px-2 font-weight-bold" id="status_{{ answer.id }}"></p>
                                {% comment %} <p class="text-secondary">Diversity Score: {{answer.outlier_score|floatformat:2}}</p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p>{{ answer.answer_text }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2  %} 
                <div class="w-100 d-none d-block"></div> 
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col-4">
            <div class="container sticky-top">

                <div class="row mb-2">
                    <div class="col-8">
                        <h4>Positive Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('positive')">Add</a>
                    </div>
                </div>
                <div id="positive_rubric_list"></div>
                
                <div class="row mt-4 mb-2">
                    <div class="col-8">
                        <h4>Negative Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('negative')">Add</a>
                    </div>
                </div>
                <div id="negative_rubric_list"></div>
                
            </div>
        </div> 
    </div>

    <!-- Modal for editing rubric -->
    <div class="modal fade" id="editingModal" tabindex="-1" role="dialog" aria-labelledby="editingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingModalLabel">Editing Rubric #X</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title-name" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title-name">
                        </div>
                        <div class="form-group">
                            <label for="description-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    // parse django answers to js dict
    var answers = {{ examples_dict|safe }};
    var rubric_list = {{ rubric_list|safe }};
    console.log(rubric_list);

    function update_rubric_list() {
        $.ajax({
            url: "{% url 'update_rubric_list' question_obj.id %}",
            data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'rubric_list':  JSON.stringify(rubric_list)},
            dataType: "json",
            type: 'POST',
        }).done(function(response){
            console.log(response);
        });
    }

    function get_highest_rubric_id(){
        var highest_id = 0;
        rubric_list.forEach(function(item) {
            if (item.id > highest_id) {
                highest_id = item.id;
            }
        });
        return highest_id;
    }

    function add_new_rubric_item(polarity, rubric_dict= null){
        var highest_id = get_highest_rubric_id();
        var rubric_id = highest_id + 1;

        var index = 0;
        var lowest = 1000;
        rubric_list.forEach(function(item) {
            curr_item_idx = rubric_list.indexOf(item)
            if (item.id == 0 && curr_item_idx < lowest) {
                index = curr_item_idx;
                lowest = curr_item_idx;
            }
        });

        if (rubric_dict){
            new_rubric_dict = rubric_dict
            new_rubric_dict.id = rubric_id;

            // move rubric in list to before any rubrics with id of 0
            rubric_list.splice(index, 0, rubric_list.splice(rubric_list.indexOf(rubric_dict), 1)[0]);
        } else {
            new_rubric_dict = {
                "id": rubric_id,
                "title": "N/A",
                "description": "N/A",
                "polarity": polarity,
                "reasoning_dict": {}
            }

            // add new rubric to rubric_list before any rubrics with id of 0
            rubric_list.splice(index, 0, new_rubric_dict);

            add_rubric_item_element(new_rubric_dict, true);
        }

        update_rubric_list();
        return new_rubric_dict
    }

    function add_rubric_item_element(rubric_dict, new_item=false){
        // get polarity
        var polarity = rubric_dict.polarity;
        // get element to append to
        var rubric_list_el = document.getElementById(polarity + "_rubric_list");
        var rubric_id = rubric_dict.id;

        const cardDiv = document.createElement("div");
        cardDiv.classList.add("card");
        cardDiv.id = "rubric_" + rubric_id;
        cardDiv.setAttribute("ondrop", "drop(event)");
        cardDiv.setAttribute("ondragover", "allowDrop(event)");
      
        const cardHeaderDiv = document.createElement("div");
        cardHeaderDiv.classList.add("card-header");
        cardHeaderDiv.id = "rubricheading_" + rubric_id;
      
        const rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
      
        const col8Div = document.createElement("div");
        col8Div.classList.add("col-8");
      
        const h5 = document.createElement("h5");
        h5.classList.add("mb-0");
        const button = document.createElement("button");
        button.classList.add("btn", "btn-link", "text-left");
        button.setAttribute("data-toggle", "collapse");
        button.setAttribute("data-target", "#collapse" + rubric_id);
        button.setAttribute("aria-expanded", "true");
        button.setAttribute("aria-controls", "collapse" + rubric_id);
        button.textContent = "Rubric #" + rubric_id + ": " + rubric_dict.title;
        h5.appendChild(button);
        col8Div.appendChild(h5);
      
        const col4Div = document.createElement("div");
        col4Div.classList.add("col-4");
        const btnGroup = document.createElement("div");
        btnGroup.classList.add("btn-group", "btn-group-sm", "float-right");
        btnGroup.setAttribute("role", "group");
        btnGroup.setAttribute("aria-label", "Basic example");
        const editButton = document.createElement("button");
        editButton.setAttribute("type", "button");
        editButton.classList.add("btn", "btn-secondary");
        editButton.textContent = "Edit";
        const deleteButton = document.createElement("button");
        deleteButton.setAttribute("type", "button");
        deleteButton.classList.add("btn", "btn-secondary");
        deleteButton.textContent = "Delete";

        // attach event listener to Edit button to open modal
        editButton.addEventListener("click", function() {
            // open modal
            $('#editingModal').modal('show');

            // update modal title
            document.getElementById("editingModalLabel").innerHTML = "Editing Rubric #" + rubric_id;

            // populate modal with rubric info
            document.getElementById("title-name").value = rubric_dict.title;
            document.getElementById("description-text").value = rubric_dict.description;

            // remove event listener from Update button
            var old_element = document.getElementById("editingModal").querySelector("button.btn-primary");
            var new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);

            // attach event listener to Update button to update rubric info
            document.getElementById("editingModal").querySelector("button.btn-primary").addEventListener("click", function() {
                // update rubric info
                rubric_dict.title = document.getElementById("title-name").value;
                rubric_dict.description = document.getElementById("description-text").value;

                // update rubric item element
                var rubric_item_el = document.getElementById("rubricheading_" + rubric_id).querySelector("button");
                rubric_item_el.textContent = "Rubric #" + rubric_id + ": " + rubric_dict.title;

                console.log(rubric_item_el);
                console.log(rubric_dict.title);

                // update the rubric item element's Description
                var description_el = document.getElementById("description_" + rubric_id);
                description_el.innerHTML = "<b>Description:</b> " + rubric_dict.description;

                // update rubric list
                update_rubric_list();

                // close modal
                $('#editingModal').modal('hide');
            });
        });

        // attach event listener to Delete button to remove current div and remove from rubric list
        deleteButton.addEventListener("click", function() {
            // remove current div
            var card_to_remove = document.getElementById("rubric_" + rubric_id);
            card_to_remove.parentNode.removeChild(card_to_remove);

            // get index in rubric list of the current rubric 
            var index = 0;
            rubric_list.forEach(function(item) {
                if (item.id == rubric_id) {
                    index = rubric_list.indexOf(item);
                }
            });

            rubric_list.splice(index, 1);

            update_rubric_list();
        });

        btnGroup.appendChild(editButton);
        btnGroup.appendChild(deleteButton);
        col4Div.appendChild(btnGroup);
      
        rowDiv.appendChild(col8Div);
        rowDiv.appendChild(col4Div);
      
        cardHeaderDiv.appendChild(rowDiv);
      
        const collapseDiv = document.createElement("div");
        collapseDiv.id = "collapse" + rubric_id;
        collapseDiv.classList.add("collapse");
        collapseDiv.setAttribute("aria-labelledby", "rubricheading_" + rubric_id);
      
        const cardBodyDiv = document.createElement("div");
        cardBodyDiv.classList.add("card-body");
        cardBodyDiv.id = "rubricbody_" + rubric_id;

        const descriptionElement = document.createElement("p");
        descriptionElement.innerHTML = "<b>Description:</b> " + rubric_dict.description;
        descriptionElement.id = "description_" + rubric_id;
        cardBodyDiv.appendChild(descriptionElement);
        // cardBodyDiv.innerHTML = "<p>Description: " + rubric_dict.description + "</p>";
      
        collapseDiv.appendChild(cardBodyDiv);
      
        cardDiv.appendChild(cardHeaderDiv);
        cardDiv.appendChild(collapseDiv);
      
        // if it's a new item, add it before the first suggested rubric in the list
        if (new_item) {
            // get all suggested rubrics in this list
            var suggested_rubrics = rubric_list_el.querySelectorAll("[id^='suggested_']");
            var first_suggested_rubric = suggested_rubrics[0];
            rubric_list_el.insertBefore(cardDiv, first_suggested_rubric);
        } else {
            rubric_list_el.appendChild(cardDiv);
        }
    }

    function add_rubric_suggestion_element(rubric_dict, forloopCounter){
        // get polarity
        var polarity = rubric_dict.polarity;
        // get element to append to
        var rubric_list = document.getElementById(polarity + "_rubric_list");

        const cardDiv = document.createElement("div");
        cardDiv.classList.add("card");
        cardDiv.id = "suggested_negative_"  + forloopCounter;
        cardDiv.style.borderStyle = "dashed";
        cardDiv.style.borderWidth = "4px";

        const cardBodyDiv = document.createElement("div");
        cardBodyDiv.classList.add("card-body");
        cardBodyDiv.id = "suggested_negative_heading_" + forloopCounter;

        const rowDiv = document.createElement("div");
        rowDiv.classList.add("row");

        const col8Div = document.createElement("div");
        col8Div.classList.add("col-8");

        const h5 = document.createElement("h5");
        h5.classList.add("mb-0");
        const button = document.createElement("button");
        button.classList.add("btn", "btn-link", "text-left");
        button.setAttribute("data-toggle", "collapse");
        button.setAttribute("data-target", "#suggested_negative_collapse" + forloopCounter);
        button.setAttribute("aria-expanded", "true");
        button.setAttribute("aria-controls", "suggested_negative_collapse" + forloopCounter);
        button.textContent = `Suggested: ${rubric_dict.title}`;
        h5.appendChild(button);
        col8Div.appendChild(h5);

        const col4Div = document.createElement("div");
        col4Div.classList.add("col-4");
        const btnGroup = document.createElement("div");
        btnGroup.classList.add("btn-group", "btn-group-sm", "float-right");
        btnGroup.setAttribute("role", "group");
        btnGroup.setAttribute("aria-label", "Basic example");
        const addButton = document.createElement("button");
        addButton.setAttribute("type", "button");
        addButton.classList.add("btn", "btn-secondary");
        addButton.textContent = "Add";

        // attach event listener to Add button to remove current div and add to rubric list as new
        addButton.addEventListener("click", function() {
            // remove current div
            var card_to_remove = document.getElementById("suggested_negative_" + forloopCounter);
            card_to_remove.parentNode.removeChild(card_to_remove);

            // add to rubric list
            new_rubric_dict = add_new_rubric_item(polarity, rubric_dict);

            // add to rubric list
            add_rubric_item_element(new_rubric_dict, true);
        });

        btnGroup.appendChild(addButton);
        col4Div.appendChild(btnGroup);

        rowDiv.appendChild(col8Div);
        rowDiv.appendChild(col4Div);

        cardBodyDiv.appendChild(rowDiv);

        const collapseDiv = document.createElement("div");
        collapseDiv.id = "suggested_negative_collapse" + forloopCounter;
        collapseDiv.classList.add("collapse");
        collapseDiv.setAttribute("aria-labelledby", "suggested_negative_heading_" + forloopCounter);

        const innerCardBodyDiv = document.createElement("div");
        innerCardBodyDiv.classList.add("card-body");
        innerCardBodyDiv.id = `rubricbody_${rubric_dict.id}`;
        innerCardBodyDiv.innerHTML = `<p>Description: ${rubric_dict.description}</p>`;

        collapseDiv.appendChild(innerCardBodyDiv);

        cardDiv.appendChild(cardBodyDiv);
        cardDiv.appendChild(collapseDiv);

        rubric_list.appendChild(cardDiv);
    }

    function add_cards(answer_id, rubric_id) {
        // create new card item to append to rubric_body
        var new_card = document.createElement("div");
        new_card.className = "card mb-2";
        new_card.id = "matchedcard_" + answer_id + "_" + rubric_id;
        var new_card_body = document.createElement("div");
        new_card_body.className = "card-body mr-2";
        new_card.appendChild(new_card_body);
        new_card_body.innerHTML = answers[answer_id];

        // add an input field for reasoning
        var new_input = document.createElement("input");
        new_input.className = "form-control";
        new_input.type = "text";
        new_input.placeholder = "Tell us why...";
        for (var i = 0; i < rubric_list.length; i++) {
            if (rubric_list[i].id == rubric_id) {
                new_input.value = rubric_list[i].reasoning_dict[answer_id];
            }
        }
        new_card.appendChild(new_input);

        // add event listener to input field
        new_input.addEventListener("input", function() {
            // update reasoning in rubric_list
            rubric_list.forEach(function(rubric) {
                if (rubric.id == rubric_id) {
                    rubric.reasoning_dict[answer_id] = new_input.value;
                }
            });
            update_rubric_list();
        });

        // add button to remove card
        var new_button = document.createElement("button");
        // make button at the top right of the card
        new_button.style.position = "absolute";
        new_button.style.top = "0";
        new_button.style.right = "0";
        new_button.className = "btn btn-danger btn-sm";
        new_button.innerHTML = "x";
        new_button.addEventListener("click", function() {
            // remove card from rubric body
            var card_to_remove = document.getElementById("matchedcard_" + answer_id + "_" + rubric_id);
            card_to_remove.parentNode.removeChild(card_to_remove);

            // remove answer from reasoning dict
            rubric_list.forEach(function(rubric) {
                if (rubric.id == rubric_id) {
                    delete rubric.reasoning_dict[answer_id];
                }
            });
            update_rubric_list();

            // remove rubric id from answer status
            var status = document.getElementById("status_" + answer_id);
            var status_list = status.innerHTML.split(", ");
            var new_status_list = [];
            status_list.forEach(function(item) {
                if (item != "R" + rubric_id) {
                    new_status_list.push(item);
                }
            });
            status.innerHTML = new_status_list.join(", ");
        });
        new_card.appendChild(new_button);

        // finally, add the new card to the rubric body
        var rubric_body = document.getElementById("rubricbody_" + rubric_id);
        rubric_body.appendChild(new_card);

        // add indication that the rubric was applied to this answer (in the answer status_{{answer.id}} element)
        var status = document.getElementById("status_" + answer_id);
        // check if status already has writing, if so, add a comma and the rubric id
        if (status.innerHTML != "") {
            status.innerHTML += ", R" + rubric_id;;
        } else{
            status.innerHTML = "R" + rubric_id;;
        }
    }

    $(document).ready(function () {
        // add cards for all reasoning_dict items in each rubric
        var counter = 0;
        rubric_list.forEach(function(rubric) {
            counter++;
            if (rubric.id != 0) {
                add_rubric_item_element(rubric);
                for (var answer_id in rubric.reasoning_dict) {
                    // console.log(answer_id, rubric.id, rubric.reasoning_dict[answer_id]);
                    add_cards(answer_id, rubric.id);
                }
            } else {
                add_rubric_suggestion_element(rubric, counter);
            }
        });

    })

    // function to fade out loaded page when button is clicked and fade in loader
    function fadeOutLoadedPage() {
        $( "#loaded-page" ).fadeOut(400, function(){
            $( "#loader" ).fadeIn(400);
        });  
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");

        // get answer id
        var dragging_el = document.getElementById(data);
        var answer_id = dragging_el.id.split("_")[1];

        // loop until parent of ev.target is a card
        var parent = ev.target;
        while (parent.id.split("_")[0] != "rubric") {
            parent = parent.parentNode;
        }

        // add item to rubric body
        var rubric_id = parent.id.split("_")[1];
        var rubric_body = document.getElementById("rubricbody_" + rubric_id);

        var to_cancel = false;
        rubric_list.forEach(function(rubric) {
            if (rubric.id == rubric_id) {
                // check if answer is already in rubric
                if (answer_id in rubric.reasoning_dict) {
                    console.log("answer already in rubric");
                    to_cancel = true;
                    return;
                } else {
                    // add answer to reasoning dict with empty string as Reasoning
                    rubric.reasoning_dict[answer_id] = "";
                }
            }
        });
        if (to_cancel) {
            return;
        }

        update_rubric_list();
        add_cards(answer_id, rubric_id);
    }

</script>

{% endblock %}