{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">

<div class="row">
    <div class="col-6 d-flex align-items-center">
        <a href="{% url 'rubric_refinement' question_obj.id %}" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
          <a href="#" class="btn btn-secondary">Stage 4: Apply and Export!</a>
    </div>
</div>
<br>

<h2>Feedback Refinement</h2>

{% if question_obj.question_image_url %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
    <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
<div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
{% else %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
{% endif %}

<p>Total answers: {{ answer_count }}</p>

<br>

{% comment %} Iterate through each answer and make a container containing a card for the answer text {% endcomment %}
{% for answer in answers %}
<div class="row mb-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Answer {{ forloop.counter }}</h5>
                <h1 class="card-text" id="anstext_{{answer.id}}">{{ answer.answer_text }}</h1>
            </div>
        </div>
    </div>

    <div class="col-8">
        <form class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <h5>Rubrics:</h5>
                        <label for="r1_{{answer.id}}" id="label_r1_{{answer.id}}">Rubric 1:</label>
                        <input type="range" id="r1_{{answer.id}}" name="r1_{{answer.id}}" min="0" max="1" step="0.5" value="1" class="form-control-range" oninput="updateSliderValue(this, 'r1_{{answer.id}}')">
                        <label for="r2_{{answer.id}}" id="label_r2_{{answer.id}}">Rubric 2:</label>
                        <input type="range" id="r2_{{answer.id}}" name="r2_{{answer.id}}" min="0" max="1" step="0.5" value="0" class="form-control-range" oninput="updateSliderValue(this, 'r2_{{answer.id}}')">
                        <label for="r3_{{answer.id}}" id="label_r3_{{answer.id}}">Rubric 3:</label>
                        <input type="range" id="r3_{{answer.id}}" name="r3_{{answer.id}}" min="0" max="1" step="0.5" value="0.5" class="form-control-range" oninput="updateSliderValue(this, 'r3_{{answer.id}}')">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h5>Feedback:</h5>
                            </div>
                            <div class="col-6">
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">Edit</button>
                                    <button type="button" class="btn btn-secondary">Regenerate</button>
                                </div>
                            </div>
                        </div>
                        <p id="feedbacktext_{{answer.id}}">{% lorem 1 b random %}</p>
                        {% comment %} <label for="reasoning">Reasoning:</label>
                        <textarea id="reasoning" name="reasoning" rows="1" cols="50" class="form-control" placeholder="Enter reasoning..."></textarea>
                        <label for="highlighted-text">Highlighted Text:</label>
                        <textarea id="highlighted-text_{{answer.id}}_1" name="highlighted-text_{{answer.id}}_1" rows="1" cols="50" class="form-control" placeholder="Enter highlighted text...">{% get_words answer.answer_text 4 True as words %}{{ words }}</textarea> {% endcomment %}
                    </div>
                </div>
            </div>
        </form>          
    </div>
</div>

{% endfor %}

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    $(document).ready(function () {
        // get all sliders and update slider values
        var sliders = document.querySelectorAll('input[type="range"]');
        sliders.forEach(function(slider) {
            updateSliderValue(slider, slider.id);
        });

        // get all feedback textareas, select a substring at random and add an onmouseover call for highlighting a word in the anstext_{{answer.id}} element
        var feedbackTextareas = document.querySelectorAll('[id^="feedbacktext"]');
        feedbackTextareas.forEach(function(textarea) {
            var anstextId = textarea.id.split("_")[1];
            var anstext = document.getElementById("anstext_" + anstextId);
            var anstextWords = anstext.innerHTML.split(" ");

            // select a random word from the textarea
            var randomWord = textarea.innerHTML.split(" ")[Math.floor(Math.random() * textarea.innerHTML.split(" ").length)];
            // create a link from this word
            var randomWordLink = "<a href=\"#\" id=\"randomWordLink_" + anstextId + "\">" + randomWord + "</a>";
            // replace the word in the textarea with the link
            textarea.innerHTML = textarea.innerHTML.replace(randomWord, randomWordLink);
            // get the link element
            var randomWordLinkElement = document.getElementById("randomWordLink_" + anstextId);

            // select a random word from the answer text
            var randomWord = anstextWords[Math.floor(Math.random() * anstextWords.length)];
            var randomWordIndex = anstextWords.indexOf(randomWord);
            var randomWordLength = randomWord.length;
            var randomWordStart = anstext.innerHTML.indexOf(randomWord);
            var randomWordEnd = randomWordStart + randomWordLength;
            var randomWordSubstring = anstext.innerHTML.substring(randomWordStart, randomWordEnd);
            var randomWordHighlighted = "<span class=\"highlight\">" + randomWordSubstring + "</span>";

            randomWordLinkElement.onmouseover = function() {
                anstext.innerHTML = anstext.innerHTML.replace(randomWordSubstring, randomWordHighlighted);
            }
            randomWordLinkElement.onmouseout = function() {
                // remove all highlights from anstext
                anstext.innerHTML = anstext.innerHTML.replace(randomWordHighlighted, randomWordSubstring);
            }
        });
    })

    function updateSliderValue(slider, sliderId) {
        var sliderValue = slider.value;
        var sliderLabel = document.getElementById("label_" + sliderId);
        var rubricNum = sliderId.split("_")[0][1];
        sliderLabel.innerHTML = "Rubric " + rubricNum + ":";

        if (sliderValue == 0){ sliderLabel.innerHTML += " No Relevance"; }
        else if (sliderValue == 0.5){ sliderLabel.innerHTML += " Partial Relevance"; }
        else if (sliderValue == 1){ sliderLabel.innerHTML += " Full Relevance"; }
    }

</script>

{% endblock %}