{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">

<div class="row">
    <div class="col-6 d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Question Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for q in question_list %}
                <a class="dropdown-item" href="{% url 'rubric_creation' q.pk %}">Question {{ q.question_exam_id }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
          {% comment %} <a href="{% url 'rubric_tagging' question_obj.id %}" class="btn btn-secondary">Stage 2: Tagging and Feedback</a> {% endcomment %}
          <a href="{% url 'rubric_refinement' question_obj.id %}" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
    </div>
</div>
<br>

<h2>Rubric Creation 💡</h2>

{% if question_obj.question_image_url %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
    <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
<div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
{% else %}
<h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
{% endif %}

<p>Total answers: {{ answer_count }}</p>

<br>

<div class="row">
    <div class="col-8">
        <div class="card-deck" id="answer_card_deck">
            {% for answer in answers %}
            <div id="answer_{{answer.id}}" class="card mb-2" draggable="true" ondragstart="drag(event)" value="{{answer.answer_text}}">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <b>Answer {{ forloop.counter }}</b>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <p class="text-secondary px-2" id="status_{{ answer.id }}"></p>
                            {% comment %} <p class="text-secondary">Diversity Score: {{answer.outlier_score|floatformat:2}}</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p>{{ answer.answer_text }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2  %} 
            <div class="w-100 d-none d-block"></div> 
            {% endif %}
            {% endfor%}
        </div>
    </div>
    <div class="col-4">
        <div class="container sticky-top">

            <div class="row mb-2">
                <div class="col-8">
                    <h4>Positive Rubrics</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-sm">Add</a>
                </div>
            </div>
            <div id="accordion">
                {% for rubric in positive_rubrics %}
                {% if rubric.id != 0 %}
                <div class="card" id="rubric_{{rubric.id}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="card-header" id="rubricheading_{{rubric.id}}">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapse{{rubric.id}}" aria-expanded="true" aria-controls="collapse{{rubric.id}}" >
                                    Rubric #{{rubric.id}}: {{ rubric.title }}
                                    </button>
                                </h5>
                            </div>

                            <div class="col-4">
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">Edit</button>
                                    <button type="button" class="btn btn-secondary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div id="collapse{{rubric.id}}" class="collapse {% if rubric.id == 1 %}show{% endif %}" aria-labelledby="rubricheading_{{rubric.id}}" data-parent="#accordion">
                    <div class="card-body"  id="rubricbody_{{rubric.id}}">
                        <p>Description: {{ rubric.description }}</p>
                        <li>Sample Answer {{rubric.id}}</li>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for rubric in positive_rubrics %}
                {% if rubric.id == 0 %}
                <div class="card" id="suggested_positive_{{forloop.counter}}">
                    <div class="card-header" id="suggested_positive_heading_{{forloop.counter}}">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-left" data-toggle="collapse" data-target="#suggested_positive_collapse{{forloop.counter}}" aria-expanded="true" aria-controls="suggested_positive_collapse{{forloop.counter}}" >
                                    Suggested: {{ rubric.title }}
                                    </button>
                                </h5>
                            </div>

                            <div class="col-4">
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div id="suggested_positive_collapse{{forloop.counter}}" class="collapse" aria-labelledby="suggested_positive_heading_{{forloop.counter}}" data-parent="#accordion">
                    <div class="card-body"  id="rubricbody_{{rubric.id}}">
                        <p>Description: {{ rubric.description }}</p>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            
            <div class="row mt-4 mb-2">
                <div class="col-8">
                    <h4>Negative Rubrics</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-sm">Add</a>
                </div>
            </div>
            <div id="accordion2">
                {% for rubric in negative_rubrics %}
                {% if rubric.id != 0 %}
                <div class="card" id="rubric_{{rubric.id}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="card-header" id="rubricheading_{{rubric.id}}">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapse{{rubric.id}}" aria-expanded="true" aria-controls="collapse{{rubric.id}}" >
                                    Rubric #{{rubric.id}}: {{ rubric.title }}
                                    </button>
                                </h5>
                            </div>

                            <div class="col-4">
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">Edit</button>
                                    <button type="button" class="btn btn-secondary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div id="collapse{{rubric.id}}" class="collapse" aria-labelledby="rubricheading_{{rubric.id}}" data-parent="#accordion2">
                    <div class="card-body"  id="rubricbody_{{rubric.id}}">
                        <p>Description: {{ rubric.description }}</p>
                        <li>Sample Answer {{rubric.id}}</li>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for rubric in negative_rubrics %}
                {% if rubric.id == 0 %}
                <div class="card" id="suggested_negative_{{forloop.counter}}">
                    <div class="card-header" id="suggested_negative_heading_{{forloop.counter}}">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-left" data-toggle="collapse" data-target="#suggested_negative_collapse{{forloop.counter}}" aria-expanded="true" aria-controls="suggested_negative_collapse{{forloop.counter}}" >
                                    Suggested: {{ rubric.title }}
                                    </button>
                                </h5>
                            </div>

                            <div class="col-4">
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div id="suggested_negative_collapse{{forloop.counter}}" class="collapse" aria-labelledby="suggested_negative_heading_{{forloop.counter}}" data-parent="#accordion2">
                    <div class="card-body"  id="rubricbody_{{rubric.id}}">
                        <p>Description: {{ rubric.description }}</p>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> 
</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>
    $(document).ready(function () {
        
    })

    // parse django answers to js dict
    var answers = {{ examples_dict|safe }};

    function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");

        // get answer id
        var dragging_el = document.getElementById(data);
        var answer_id = dragging_el.id.split("_")[1];

        // loop until parent of ev.target is a card
        var parent = ev.target;
        while (parent.className != "card") {
            parent = parent.parentNode;
        }

        // add list item to rubric body
        var rubric_id = parent.id.split("_")[1];
        var rubric_body = document.getElementById("rubricbody_" + rubric_id);
        var new_li = document.createElement("li");

        new_li.innerHTML = answers[answer_id];
        rubric_body.appendChild(new_li);

        // add indication that the rubric was applied to this answer (in the answer status_{{answer.id}} element)
        var status = document.getElementById("status_" + answer_id);
        status.innerHTML = "R" + rubric_id;
    }

</script>

{% endblock %}