{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
{% load block_extras %}

<link rel="stylesheet" href="{% static 'css/blocks.css' %}">


<div id="loader" style="display:none">
    <div class="d-flex justify-content-center align-items-center" style="height:85vh">
        <h4 class="mr-4">Please wait while our AI decides which <br> rubrics match each answer, and why!</h4>

        <div class="spinner-border text-info" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div id="loaded-page">
    <div class="row">
        <div class="col-4 d-flex align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Question Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for q in question_list %}
                    <a class="dropdown-item" href="{% url 'rubric_creation' q.pk %}">Question {{ q.question_exam_id }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructionsModal">
                Instructions
            </button>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
            {% comment %} <a href="{% url 'rubric_tagging' question_obj.id %}" class="btn btn-secondary">Stage 2: Tagging and Feedback</a> {% endcomment %}
            <a href="{% url 'rubric_refinement' question_obj.id %}" onclick="fadeOutLoadedPage()" class="btn btn-secondary">Stage 2: Rubric Refinement</a>
        </div>
    </div>
    <br>

    <!-- Modal for youtube video embedded -->
    <!-- Modal -->
    <div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="instructionsModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w-WB3GOwHWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <h2>Rubric Creation 💡</h2>

    {% if question_obj.question_image_url %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}
        <a data-toggle="collapse" href="#showImg" role="button" aria-expanded="false" aria-controls="showImg">[show image]</a></h4>
    <div class="collapse" id="showImg"> <img src="{% static question_obj.question_image_url %} "  class="rounded mx-auto d-block"></img> </div>
    {% else %}
    <h4>Question {{ question_obj.question_exam_id }}: {{ question_obj.question_text }}</h4>
    {% endif %}

    <p>Total answers: {{ answer_count }}</p>

    <br>
    <div>
        {{samples}}
        {% comment %} Make list of each rubric item from rubric_list {% endcomment %}
        {% for rubric in rubric_list %}
        <div class="card mb-2">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <b>Rubric Item {{ forloop.counter }}</b>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <p class="text-secondary px-2 font-weight-bold" id="status_{{ rubric.id }}"></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{{ rubric.polarity }}</p>
                <p>{{ rubric.title }}</p>
                <p>{{ rubric.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% comment %} <div class="row">
        <div class="col-8">
            <div class="card-deck" id="answer_card_deck">
                {% for answer in answers %}
                <div id="answer_{{answer.id}}" class="card mb-2" draggable="true" ondragstart="drag(event)" value="{{answer.answer_text}}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <b>Answer {{ forloop.counter }}</b>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="text-secondary px-2 font-weight-bold" id="status_{{ answer.id }}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p>{{ answer.answer_text }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2  %} 
                <div class="w-100 d-none d-block"></div> 
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col-4">
            <div class="container sticky-top">

                <div class="row mb-2">
                    <div class="col-8">
                        <h4>Positive Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('positive')">Add</a>
                    </div>
                </div>
                <div id="positive_rubric_list"></div>
                
                <div class="row mt-4 mb-2">
                    <div class="col-8">
                        <h4>Negative Rubrics</h4>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="#" class="btn btn-success btn-sm" onclick="add_new_rubric_item('negative')">Add</a>
                    </div>
                </div>
                <div id="negative_rubric_list"></div>
                
            </div>
        </div> 
    </div> {% endcomment %}

    <!-- Modal for editing rubric -->
    <div class="modal fade" id="editingModal" tabindex="-1" role="dialog" aria-labelledby="editingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingModalLabel">Editing Rubric #X</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title-name" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title-name">
                        </div>
                        <div class="form-group">
                            <label for="description-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<script>

</script>

{% endblock %}